body{
    background-color: rgb(71, 15, 43);
}

.jaro{
    background-color: rebeccapurple;
    font-size: x-large;
}
.poki{
    background-color: indigo;
}
.jaroiseatingryszwithkaczkainbeczka{
    font-size: 60px;
    background-color: rgb(175, 55, 199);
    border-radius: 150%;
}
.container{
    text-align: center;
}